body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    background-color: #fcfcfc; /* Set the background color */
}

.container {
    margin-top: 100px;
}

.logo {
    width: 426px;
    height: 195px;
    margin: 0 auto;
    margin-bottom: 20px;
}

input, button {
    padding: 10px;
}

input {
    width: 60%;
    max-width: 300px;
}

button {
    background-color: #4285F4;
    color: #fff;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .logo {
        width: 300px;
        height: auto;
    }

    input {
        width: 70%;
    }

    button {
        width: 25%;
    }
}
